<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="graficosFinancieros" class="charts-dashboard-grid">
        
        <div class="chart-card-box long-chart">
            <h4><i class="fa-solid fa-chart-line text-celeste"></i> Evolución de Ingresos Mensuales</h4>
            <div style="position: relative; height: calc(100% - 35px); width: 100%;">
                <canvas id="chartIngresosMensuales"></canvas>
            </div>
        </div>

        <div class="chart-card-box">
            <h4><i class="fa-solid fa-scale-balanced text-warning"></i> Margen Financiero: Bruto vs Neto</h4>
            <div style="position: relative; height: calc(100% - 35px); width: 100%;">
                <canvas id="chartBrutoVsNeto"></canvas>
            </div>
        </div>

    </div>

</body>
</html>