<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/layout :: head('SIGA Dashboard')}"></div>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

<div th:replace="~{fragments/layout :: sidebar('dashboard')}"></div>

<div class="content">

    <div class="header">
        <h1>Dashboard General</h1>
        <span>Bienvenido Administrador | Vista Consolidada</span>

        
    </div>

    <div class="kpi-container">
        <div class="kpi-card">
            <div class="kpi-icon">
                <i class="fas fa-coins"></i>
            </div>
            <div class="kpi-data">
                <h3 th:text="${total_Amount != null} ? 'S/. ' + ${#numbers.formatDecimal(total_Amount, 1, 'DEFAULT', 2, 'DEFAULT')} : 'S/. 0.00'"></h3>
                <p>Ingresos por Alquileres</p>
            </div>
        </div>

        <div class="kpi-card">
            <div class="kpi-icon"><i class="fas fa-chart-pie"></i></div>
            <div class="kpi-data">
                <h3 th:text="${ocupiedEquipment != null} ? (${ocupiedEquipment} + ' %') : ' 0%'">
                    84.2%
                </h3>
                <p>Ocupación de Inventario</p>
            </div>
        </div>

        <div class="kpi-card alert-orange">
            <div class="kpi-icon"><i class="fas fa-exclamation-triangle"></i></div>
            <div class="kpi-data">
                <h3 th:text="${openMaintenances != null} ? |${openMaintenances} Equipos| : 'Sin Equipos'">
                    3 Equipos
                </h3>
                <p>Mantenimiento Activos</p>
            </div>
        </div>
        
        <div class="kpi-card">
            <div class="kpi-icon"><i class="fas fa-clock"></i></div>
            <div class="kpi-data">
                <h3 th:text="${activeRentals != null} ? |${activeRentals} Alquileres| : 'Sin Alquileres'">
                    10 Alquileres
                </h3>
                <p>Por Vencer (48h)</p>
            </div>
        </div>
    </div>

    <div class="charts-dashboard-grid">
    
        <div class="chart-card-box long-chart">
            <h4><i class="fa-solid fa-chart-line text-celeste"></i> Evolución de Ingresos Mensuales</h4>
            <div style="position: relative; height: calc(100% - 35px); width: 100%;">
                <canvas id="chartIngresosMensuales"></canvas>
            </div>
        </div>

        <div class="chart-card-box">
            <h4><i class="fa-solid fa-scale-balanced text-warning"></i> Margen Financiero: Bruto vs Neto</h4>
            <div style="position: relative; height: calc(100% - 35px); width: 100%;">
                <canvas id="chartBrutoVsNeto"></canvas>
            </div>
        </div>

    </div>
    
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script th:inline="javascript">
    window.ingresosMesesData = /*[[${ingresosMeses}]]*/ [];
    window.datosBrutoData = /*[[${datosBruto}]]*/ [];
    window.datosNetoData = /*[[${datosNeto}]]*/ [];
</script>

<script th:src="@{/js/report.js}"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>