<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIGA Equipo</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/maintenance.css">
</head>
<body>


<!-- SIDEBAR -->
<div class="sidebar">

    <div class="logo">
        <img src="/img/logo.png" alt="SIGA">
        <h2>SIGA</h2>
    </div>

    <nav>
        <a href="/dashboard">
            <i class="fas fa-chart-line"></i>
            Dashboard
        </a>

        <a href="/equipment">
            <i class="fas fa-laptop"></i>
            Equipos
        </a>

        <a href="/rental">
            <i class="fas fa-file-signature"></i>
            Alquileres
        </a>

        <a class="active" href="/maintenance">
            <i class="fas fa-tools"></i>
            Mantenimiento
        </a>

        <a href="#">
            <i class="fas fa-satellite-dish"></i>
            Monitoreo
        </a>

        <a href="#">
            <i class="fas fa-chart-bar"></i>
            Reportes
        </a>

        <a href="#">
            <i class="fas fa-gear"></i>
            Configuración
        </a>
    </nav>

    <div class="user-info">
        <i class="fas fa-user-circle"></i>
        <div>
            <strong>Administrador</strong>
            <p>Kevin Cusi</p>
        </div>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn-logout">
                <i class="fas fa-right-from-bracket"></i>
            </button>
        </form>

    </div>

</div>


<!-- CONTENIDO -->
<div class="content">

    <div class="header">

        <div>
            <h1>Mantenimientos</h1>
            <span>Gestión de mantenimiento</span>
        </div>

        <div class="profile-top">
            <i class="fa-regular fa-bell"></i>

            <nav>
                <button type="button" class="btn-add" onclick="abrirModal()">
                    <i class="fas fa-plus"></i>
                    Añadir Mantenimiento
                </button>
            </nav>
        </div>

    </div>

    <!-- MODAL -->
    <div id="modalMaintenace" class="modal">

        <div class="modal-content">

            <span class="close" onclick="cerrarModal()">&times;</span>

            <h2>Registrar Equipo</h2>

            <form id="formMaintenance"
                  action="/maintenance/save"
                  method="post">

                <select name="equipment.id" required>

                    <option value="">
                        Seleccione un equipo
                    </option>

                    <option th:each="equipo : ${equipments}"
                            th:value="${equipo.id}"
                            th:text="${equipo.code + ' - ' + equipo.brand}">
                    </option>

                </select>

                <select name="type" required>
                    <option value="">Tipo de mantenimiento</option>
                    <option value="PREVENTIVO">Preventivo</option>
                    <option value="CORRECTIVO">Correctivo</option>
                </select>

                <input type="text"
                       name="description"
                       placeholder="Descripción"
                       required>

                <input type="text"
                       name="hourMeter"
                       placeholder="Horómetro">

                <input type="number"
                       step="0.01"
                       name="cost"
                       placeholder="Costo"
                       required>

                <input type="text"
                       name="observations"
                       placeholder="Observaciones"
                       required>

                <button type="submit">
                    Guardar Mantenimiento
                </button>

            </form>

        </div>

    </div>

    <!-- TABLA DE EQUIPOS -->
    <div class="table-container">

        <table class="tabla-equipos">

            <thead>
            <tr>
                <th>Código</th>
                <th>Equipo</th>
                <th>Fecha de Ingreso</th>
                <th>Fecha de Salida</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Horometro</th>
                <th>Costo</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="maintenance : ${maintenances}">

                <td th:text="${maintenance.id}"></td>

                <td th:text="${maintenance.equipment.code}"></td>

                <td th:text="${maintenance.entryDate}"></td>

                <td th:text="${maintenance.exitDate}"></td>

                <td th:text="${maintenance.status}"></td>

                <td th:text="${maintenance.type}"></td>

                <td th:text="${maintenance.description}"></td>

                <td th:text="${maintenance.hourMeter}"></td>

                <td th:text="${maintenance.cost}"></td>

                <td th:text="${maintenance.observations}"></td>

                <td>

                    <form th:action="@{/maintenance/close/{id}(id=${maintenance.id})}"
                          method="post"
                          style="display:inline;">

                        <button class="btn-edit"
                                th:if="${maintenance.status == 'ABIERTO'}">
                            Cerrar
                        </button>

                    </form>

                    <button class="btn-delete"
                            th:onclick="'eliminarMantenimiento(' + ${maintenance.id} + ')'">
                        <i class="fas fa-trash"></i>
                    </button>

                </td>

            </tr>

            </tbody>

        </table>

    </div>

</div>
<script src="/js/maintenance.js"></script>
</body>
</html>