<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/layout :: head('SIGA Equipos')}"></div>
    <link rel="stylesheet" href="/css/equipment.css">
</head>
<body>

<div th:replace="~{fragments/layout :: sidebar('monitoring')}"></div>

<!-- CONTENIDO -->
<div class="content">

    <div class="header">
        <div>
            <h1>Monitoreo</h1>
            <span>Monitorización de equipos en tiempo real</span>
        </div>
    </div>

    <!-- CARDS -->
    <div class="cards">

        <div class="card">
            <i class="fas fa-laptop"></i>
            <h3>Total de Equipos</h3>
            <span th:text="${equipments.size()}"></span>
        </div>

        <div class="card">
            <i class="fas fa-file-signature"></i>
            <h3>Alquileres Activos</h3>
            <span th:text="${rentals.size()}"></span>
        </div>

        <div class="card">
            <i class="fas fa-tools"></i>
            <h3>Registro de Mantenimiento</h3>
            <span th:text="${maintenances.size()}"></span>
        </div>

    </div>

    <!-- DOS PANELES -->
    <div class="monitor-grid">

        <!-- ALERTAS -->
        <div class="panel">
            <h2>Alerta Mantenimientos</h2>

            <table class="tabla-equipos">
                <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Estado</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="m : ${maintenances}"
                    th:if="${m.status != null and #strings.toUpperCase(#strings.trim(m.status)) == 'ABIERTO'}">

                    <!-- EQUIPO -->
                    <td th:text="${m.equipment.code}"></td>

                    <!-- ESTADO -->
                    <td>
                        <span class="badge bg-success" th:text="${m.status}"></span>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>

        <!-- ALQUILERES -->
        <div class="panel">
            <h2>Registro de Alquileres</h2>

            <table class="tabla-equipos">
                <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="r : ${rentals}"
                    th:if="${r.status != null and r.status.toUpperCase() == 'ACTIVO'}">

                    <td th:text="${r.equipment.code}"></td>
                    <td th:text="${r.customerName}"></td>

                    <td>
                        <span class="badge bg-primary" th:text="${r.status}"></span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
</body>
</html>