*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    display:flex;
    background:linear-gradient(white, lightgray, white);
}

/* SIDEBAR */

.sidebar{
    width:260px;
    height:100vh;
    background:#07142c;
    color:white;
    position:fixed;
    display:flex;
    flex-direction:column;
}

.logo{
    text-align:center;
    padding:20px;
}

.logo img{
    width:130px;
}

.logo h2{
    margin-top:10px;
}

.sidebar nav{
    flex:1;
}

.sidebar nav a{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar nav a:hover{
    background:#17335f;
}

.sidebar nav a.active{
    background: #07142c;
    color: goldenrod;
    font-weight: bold;
    border-left: 4px solid goldenrod;
}

.user-info{
    display:flex;
    gap:10px;
    align-items:center;
    padding:20px;
}

.user-info i{
    font-size:40px;
}

/* CONTENIDO */

.content{
    margin-left:260px;
    width:100%;
    padding:25px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.profile-top{
    display:flex;
    align-items:center;
    gap:15px;
}

.profile-top i{
    font-size:25px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.card h3{
    font-size:18px;
    margin-bottom:10px;
}

.card span{
    font-size:45px;
    font-weight:bold;
    color:#07142c;
}

/* CENTRO */

.middle{
    margin-top:25px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.panel{
    background:white;
    border-radius:12px;
    padding:20px;
    min-height:300px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.panel h2{
    margin-bottom:20px;
}

.chart-placeholder{
    height:220px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.chart-placeholder i{
    font-size:120px;
    color:#36b9cc;
}

.panel ul{
    list-style:none;
}

.panel li{
    background:#f2f2f2;
    padding:12px;
    margin-bottom:10px;
    border-radius:8px;
}

.activity{
    margin-top:25px;
    min-height:180px;
}


.btn-logout{
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    font-size:12px;
    padding:15px;
}

.btn-logout i{
    font-size: 20px;
}

.btn-logout:hover{
    color:#ff6b6b;
}